* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.description {
    max-height: 700px;

    padding-top: 120px;
}

.description .container {
    display: flex;
}

.description__img__wraper {
    min-width: 57%;
}

.description__img {

    margin-left: -150px;
}

.description__text {
    padding-top: 50px;
}

.description__text__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;

    color: #1D92FF;
}

.description__text__title {
    font-size: 39px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-weight: 600;

    margin-bottom: 25px;
}

.description__text__title p {
    display: inline;

    font-weight: 300;
}


.description__text__text {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.05em;

    color: #01070DB2;
}

.description__text__text p {
    display: inline;

    font-weight: 700;
}

.description__wraper {
    margin-top: 45px;
}

.description__separate {
    display: flex;

    align-items: center;

    margin-bottom: 25px;
}

.description__icon {
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;

    margin-right: 15px;
}

.description__separate__text {
    font-size: 16px;
    text-transform: capitalize;

    color: #01070D;
    opacity: 0.7;
}