.facts {
    max-height: 750px;

    width: 100%;
    padding-top: 150px;
}

.facts .container {
    display: flex;
}

.facts__text {
    width: 50%;
}

.facts__text__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;

    color: #1D92FF;
}

.facts__text__title {
    font-size: 39px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-weight: 600;
}

.facts__text__title p {
    display: inline;

    font-weight: 300;
}

.facts__postcards {
    margin-top: 50px;
}

.facts__wraper {
    display: flex;
}

.facts__card {
    font-size: 18px;
    color: #01070d;
    opacity: 0.7;

    margin-bottom: 30px;
}

.facts__card__title {
    font-size: 18px;
    color: #01070d;
    opacity: 0.7;
}

.facts__card__title__activ {
    display: none;
    padding-left: 9px;
    font-size: 21px;
    opacity: 0.9;

    color: #1D92FF;
}

.facts__card__text {
    color: #000;

    padding: 15px;
}

.facts__card__text p {
    display: inline;

    color: #46a5fd;
    border-bottom: 1px solid #46a5fd;
}

.facts__icon {
    margin-left: 80px;
}

.facts__icon__activ {
    margin: 0;
}

.facts__btn {
    display: flex;
}

.btn__blue {
    width: 205px;
    height: 49px;

    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    padding: 15px 65px;
    border-radius: 4px;
    text-decoration: none;

    background: #1D92FF;
}

.btn__white {
    width: 220px;
    height: 49px;

    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 14px 65px;;
    color: #1D92FF;
}

.facts__wraper__img {
    width: 50%;
}