footer {
    padding-top: 50px;

    clear: both;
}

.footer__wrap {
    max-width: 900px;
    margin: 0 auto;
}

.up {
    font-size: 20px;

    float: right;
}

.footer__title {
    font-size: 20px;
    font-weight: 700;

    text-align: center;
}

.footer__text {
    font-size: 20px;

    text-align: center;
}